  
  body {
    /* font-family: Arial;
    padding: 20px; */
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("community_bg.jpg");
  }

  table
  {
    background-color: white;
    border-style: solid;
    
  }

  thead{
    border-style: solid;
    
  }
